:root {
  --primary: #4F46E5;
  --primary-light: hsl(243, 75%, 90%);

  --nav-text:#D4D4D4;
  --nav-text-light: #FAFAF9;
  --nav-active: #3730A3;

  --nav-user: #E0E7FF;

  --secondary: #E11D48;
  --secondary-dark: #bd1a48;

  --success:#059669;
  
}


html {
font-size:16px;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden; */
}

/**************************************************
*            PAGES
**************************************************/

.boss__main {
  display: flex;
}

.boss__sidebar{
  display: none;
  width: 250px;
}

.boss__mainbar {
  /* flex-grow: 1; */
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url(images/tire.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 100vh;
}

.boss__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary);
  margin-top: 20px;
}

.boss__mainbar_content {
  margin-bottom: 20px;
}

.boss__container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.boss__card {
  width: 150px;
  height: 100px;
  background-color: var(--primary-light);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid grey;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.boss__card:hover {
  box-shadow: 0px 4px 7px  rgba(128, 128, 128, 0.503);
  transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
}

.boss__card_title {
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}


.bossmessages {
  display: flex;
}

.bossmessages__sidebar{
  display: none;
  width: 250px;
  /* background-attachment: fixed; */
  position: fixed;
}

.bossmessages td {
  white-space: nowrap;
  
}

.bossmessages__table_action {
  display: flex;
  column-gap: 10px;
}

.bossusers {
  display: flex;
}


.bossusers__sidebar{
  display: none;
  width: 250px;
  /* position: fixed; */
}

.bossusers__content {
  min-width: 0; 
  /* flex: 1; */
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/tire.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}


.bossusers__title {
  text-align: center;
  margin-top: 20px;
  font-size: 2.0rem;
  font-weight: 400;
  color: var(--primary);
  /* margin-bottom: 20px; */
}


.bossusers__table_wrapper {
  overflow-x: auto;
  margin: auto;
  width: 90%;
  padding: 0 20px 0 20px;
}

.bossusers__table {
  margin: 0 auto;
}


.bossview__card {
  border: 1px solid var(--primary);
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
}

.bossview__card p:nth-child(1) {
  background-color: var(--primary-light);
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.bossview__card p:nth-child(2) {
  text-align: center;
}

.bossview__card p:nth-child(4) {
  padding: 20px;
  font-size: 1.5rem;
}

.bossview__card p:nth-child(6) {
  text-align: center;
  padding: 5px 0;
  font-size: 1.1rem;
}
.bossview__card p:nth-child(7) {
  text-align: center;
  padding: 5px 0;
  font-size: 1.1rem;
}

.bossview__card_time {
  display: flex;
  justify-content: space-around;
}

.contact__main {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/tyres2.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}


.index__main {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/tyres2.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.login__main {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/tyres2.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}


.sidebar__main {
  width: 250px;
  min-height: 100vh;
  height: 100%;

  /* background:radial-gradient(circle at 19% 26%, rgba(79, 70, 229, 1) 0%, rgba(55, 48, 163, 1) 50%); */
  /* background-attachment: fixed; */
  position: fixed;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='250' height='800' preserveAspectRatio='none' viewBox='0 0 250 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1130%26quot%3b)' fill='none'%3e%3crect width='250' height='800' x='0' y='0' fill='rgba(17%2c 17%2c 85%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c271.337C61.699%2c284.788%2c127.36%2c313.732%2c184.887%2c287.689C243.539%2c261.137%2c267.98%2c193.019%2c298.37%2c136.261C330.68%2c75.917%2c373.107%2c15.4%2c367.191%2c-52.794C361.174%2c-122.15%2c311.23%2c-177.578%2c266.514%2c-230.936C221.139%2c-285.081%2c177.277%2c-359.454%2c106.753%2c-363.567C34.494%2c-367.781%2c-6.404%2c-277.593%2c-73.634%2c-250.775C-131.36%2c-227.748%2c-212.458%2c-266.326%2c-253.66%2c-219.797C-294.775%2c-173.366%2c-263.421%2c-99.722%2c-262.301%2c-37.713C-261.37%2c13.83%2c-270.042%2c66.665%2c-247.645%2c113.096C-225.473%2c159.061%2c-182.448%2c189.502%2c-139.445%2c216.981C-96.537%2c244.399%2c-49.751%2c260.491%2c0%2c271.337' fill='%230b0b37'%3e%3c/path%3e%3cpath d='M250 1097.526C314.622 1104.0059999999999 383.807 1128.0059999999999 440.89099999999996 1097.032 498.68899999999996 1065.671 520.1030000000001 995.641 547.74 935.973 575.519 875.998 609.6279999999999 815.047 601.905 749.404 594.106 683.119 553.3969999999999 625.115 505.676 578.455 460.376 534.162 400.929 510.859 340.038 493.358 279.445 475.943 212.702 451.512 155.387 477.777 98.97200000000001 503.629 91.887 580.9300000000001 49.67599999999999 626.418 5.229000000000013 674.316-77.31700000000001 687.85-97.28300000000002 750.068-117.32799999999997 812.534-82.78300000000002 880.183-49.988999999999976 937.001-19.15300000000002 990.4259999999999 27.833 1031.966 82.221 1061.069 133.725 1088.629 191.877 1091.6979999999999 250 1097.526' fill='%23171773'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1130'%3e%3crect width='250' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");


}

.sidebar__title {
  text-align: center;
  color:var(--nav-text);
  padding: 20px;
  font-size: 1.5rem;
}

.sidebar__hr {
  margin: 20px 0;
  border:none;
  border-top:1px solid var(--nav-text);
}

.sidebar__user {
  text-align: center;
  color:var(--nav-text);
  font-size: 1.1rem;
}

.sidebar__nav {
  margin-left: 20px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.sidebar__nav a {
  color:var(--nav-text);
  text-decoration: none;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.sidebar__nav a:hover {
  color: var(--nav-text-light);
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}


.heading-main {
  font-weight: 500;
  color: var(--primary);
  margin-top: 20px;
  text-align: center;
}


/**************************************************
*            RESPONSIVENESS
**************************************************/

/* md */
@media screen and (min-width:768px) {
  .boss__sidebar {
    display: block;
  }
  .boss__mainbar_content {
    display: none;
  }
  
  .bossusers {
    display: flex;
  }

  .bossusers__table_wrapper {
    padding: 0 20px 0 50px;
  }
  
  .bossmessages__sidebar {
    display: block;
  }

  .bossusers__main_nav {
    display: none;
  }
  .bossusers__sidebar {
    display: block;
  }

}


/**************************************************
*            COMPONENTS
**************************************************/

.btn1 {
  padding: 5px 20px;
  font-size: 1.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: var(--secondary);
  color: var(--nav-text);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.btn1:hover,
.btn1:focus {
  background-color: var(--secondary-dark);
  color: var(--nav-text-light);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}


.container {
  width: 90%;
  margin: auto;
  max-width: 700px;
}



/* FORM */
.fieldset {
  border: 1px solid var(--primary);
  padding: 20px;
}

.legend {
  padding: 0 10px;
}

.form-div {
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  padding: 4px 10px;
  font-size: 1.3rem;
  border: 1px solid var(--primary);
}

.input-text::placeholder {
  font-family: 'montserrat', sans-serif;
  opacity: 0.8;
}


table {
  border-collapse: collapse;
  background-color: var(--nav-text-light);
}

table, th, td {
  border: 1px solid var(--primary);
}

th {
  background-color: var(--primary-light);
  font-weight: 600;
  padding: 2px 40px;
}

td {
  padding: 5px 10px;

}

.table-delete-btn {
  background: var(--secondary);
  color: var(--nav-text);
  padding: 2px 20px;
  margin: auto;
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.table-delete-btn:hover {
  background-color: var(--secondary-dark);
  color: var(--nav-text-light);
}

.table-view-btn {
  background: var(--primary);
  color: var(--nav-text);
  padding: 2px 20px;
  margin: auto;
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.table-view-btn:hover {
  background-color: var(--nav-active);
  color: var(--nav-text-light);
}




.textarea {
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid var(--primary);
  padding: 4px 10px;
  font-family: 'Montserrat' sans-serif;
  resize: vertical;
  min-height: 50px;
  max-height: 200px;
}

.textarea::placeholder {
  font-family: 'montserrat';
  font-size: 1.3rem;
  opacity: 0.8;
}

.error-message {
  color: var(--secondary);
}

.success-message {
  background-color: var(--success);
  text-align: center;
  padding: 5px;
  color: var(--nav-text)

  
}



/* NAVS */
.main-nav {
  display: flex;
  background-color: var(--primary);
  padding: 10px 20px;
  justify-content: space-between;
  position: sticky;

  
}

.main-nav-brand {
  color: var(--nav-text);
  font-size: 1.2rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  column-gap: 40px;
}

.main-nav ul li a {
  text-decoration: none;
  color: var(--nav-text);
  font-size: 1.2rem;
}
.nav-user {
  background-color: var(--nav-user);
  padding-left: 20px;
}

.nav-active {
  background-color: var(--nav-active);
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.navboss {
  background-color: var(--primary);
  width: fit-content;
  margin: auto;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navboss ul {
  list-style: none;
}

.navboss ul li a {
  color: var(--nav-text);
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navboss ul li a:hover {
  color: var(--nav-text-light);
}


/**************************************************
*            UTILITY CLASSES
**************************************************/

.block {
  display: block;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: center;
}

.px10 {
  padding-left: 10px;
  padding-right: 10px;
}

.list-none {
  list-style: none;
}



.mt20 {
  margin-top: 20px;
}

.mt100 {
  margin-top: 100px;
}

.mxauto {
  margin: 0 auto;
}

.overx {
  overflow-x: auto;
}

.text-center {
  text-align: center;
}


